*{
	margin:0 auto;
	padding:0;
	text-align:right;
	font-family:Impact, Charcoal, sans-serif;
	
}

#container{
	width:970px;
	padding-right:20px;
	padding-left:20px;
	margin-top:10px;
	margin-bottom:10px;
	min-height:480px;
}

#header{
	width:970px;
	margin-top:30px;
	margin-bottom:30px;
	float:right;
	clear:both;
}

#site-title{
	width:970px;
	margin-bottom:10px;
	float:right;
	clear:both;
}

#site-title a{
	font-size:32px;
	color:#2E99FF;
	font-weight: bold;
	text-transform:capitalize;
	text-decoration:none;
}

#site-description{
	width:970px;
	margin-bottom:10px;
	font-size:16px;
	float:right;
	clear both;
	font-style: italic;
}

#content{
	width:970px;
	margin-bottom:30px;
	float:right;
	clear:both;
}

#right-content{
	width:370px;
	float:right;
}

#left-content{
	width:600px;
	float:right;
}

.show th{
	color:#2E99FF;
	font-weight: bold;
	text-transform:capitalize;
}

.show td{
	padding:10px;
}

.line{
	margin-bottom:5px;
	clear:both;
	float:right;
}

.line a{
	color:#2E99FF;
	text-decoration:none;
	text-transform:capitalize;
}

.title{
	color:#2E99FF;
	font-weight: bold;
	text-transform:capitalize;
}

.text{
	width:600px;
}

.text-area{
	width:600px;
	height:300px;
}
