*
{
	margin:0 auto;
	padding:0;
	font-family:Impact, Charcoal, sans-serif;
	
}

a, a:hover, a:visited
{
	text-decoration:none;
}

body
{
	background-color:#E3902B;
}

#container
{
	width:970px;
	padding-right:20px;
	padding-left:20px;
	margin-top:10px;
	margin-bottom:10px;
	min-height:480px;
	overflow:auto;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	box-shadow:0 0 5px 5px black;
	-moz-box-shadow:0 0 5px 5px black;
	-webkit-box-shadow:0 0 5px 5px black;
	background-color:#76C000;
}

#header
{
	width:970px;
	margin-top:30px;
	margin-bottom:30px;
	float:right;
	clear:both;
	text-align:right;
}

#site_title
{
	width:970px;
	font-size:48px;
	float:right;
	clear:both;
}

#site_title a, #site_title a:hover, #site_title a:visited
{
	color:#FBB829;
}

#site_description
{
	width:970px;
	font-size:36px;
	float:right;
	clear:both;
}

.header_line
{
	width:970px;
	float:right;
	clear:both;
}

.header_lettering
{
	color:#9D007A;
}

.text_shadow
{
	text-shadow:2px 2px 2px black;
}

#content
{
	width:970px;
	margin-bottom:30px;
	float:right;
	clear:both;
}

#footer
{
	width:970px;
	float:right;
	clear:both;
}

.section
{
	width:470px;
	min-height:800px;
	margin:30px 0 30px 15px;
	float:right;
	text-align:right;
}

.login
{
	min-height:200px;
}

.section_title
{
	width:470px;
	font-size:24px;
	float:right;
	clear:both;
	text-align:right;
	margin-bottom:30px;
}

.section_title img
{
	float:right;
}

.section_title.whole
{
	width:970px;
}

.list
{
	border:0;
}

.section_item
{
	width:470px;
	margin-bottom:30px;
	float:right;
	clear:both;
	text-align:right;
}

.section_item.whole
{
	width:970px;
}

.middle
{
	text-align:center;
}

.section_item.inner
{
	margin-bottom:10px;
}

.section_item.inner input[type='text'], .section_item.inner textarea
{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.section_item.inner input[type='text'], .section_item.inner input[type='email']
{
	height:30px;
}

.section_item p
{
	clear:both;
	float:right;
	margin-top:30px;
	margin-bottom:30px;
}

.section_item.inner a, .section_item.inner a:hover, .section_item.inner a:visited
{
	color:#023f88;
}

.section_item.inner.whole
{
	margin-bottom:30px;
}

.section_item.more.whole
{
	margin:0 0 30px 0;
}

.section_item.whole .inner_item
{
	clear:both;
}

.title
{
	border-bottom:3px dotted black;
}

.more a, .more a:hover, .more a:visited
{
	color:#FBB829;
}

.page_links
{
	float:right;
	clear:both;
}

.page_links a, .page_links a:hover, .page_links:visited
{
	color:#FBB829;
}

.score
{
	margin-left: 10px;
}

.section_item.inner .score a
{
	margin-right:5px;
	float:none;
}

.section_item input[type='submit']
{
	color:#FBB829;
	background:none;
	border:none;
	cursor:pointer;
}

.menu_item
{
	margin-left:10px;
	float:right;
}

.menu_item a, .menu_item a:visited, .menu_item a:hover
{
	color:#FBB829;
}

.inner_item
{
	margin-left:15px;
	float:right;
}

.section_item img, .inner_item img
{
	border-radius:10px;
	-moz-border-radius:10px;
	-opera-border-radius:10px;
	-webkit-border-radius:10px;
}

.breadcrumb
{
	color:#FBB829;
}

.breadcrumb a, .breadcrumb a:hover, .breadcrumb a:visited
{
	color:#FBB829;
}

.breadcrumb a, .breadcrumb a:hover, .breadcrumb a:visited
{
	color:#FBB829;
}

.input
{
	margin-bottom:10px;
}

.input label
{
	margin-right:5px;
}

.input.textarea label, .input.textarea textarea
{
	float:right;
	clear:both;
}

.input.textarea label
{
	margin-bottom:10px;
}

.contact_input label, .contact_input input, .contact_input textarea
{
	float:right;
	clear:both;
}

.contact_input label
{
	margin-bottom:10px;
}

.contact_input input
{
	width:250px;
}

.contact_input textarea
{
	margin-bottom:10px;
}

.submit
{
	float:right;
	clear:both;
}

.capitalize
{
	text-transform:capitalize;
}

.capitalize_first:first-letter
{
	text-transform:capitalize;
}

.text_and_image img
{
	margin-left:10px;
	margin-bottom:10px;
	float:right;
}

.image_subtext
{
	font-size:10px;
	margin-top:10px;
	clear:both;
	float:right;
	text-transform:none;
}

.rotator
{
	width: 970px;
	text-align:center;
}

.rotator .rotator_centre
{
	width:700px;
	display:block-inline;
}

.rotator a img:hover, .rotator .rotator_centre a:nth-child(2) img
{
	transform:scale(1.7);
	-moz-transform:scale(1.7);
	box-shadow:0px 0px 30px black;
}

.rotator a img:hover
{
	z-index:2;
}

.rotator .rotator_centre a:nth-child(2) img
{
	z-index:1;
}

.rotator a img, .rotator .rotator_centre:hover a:not(:hover) img
{
	transform:scale(1);
	-moz-transform:scale(1);
	transition-duration:0.5s;
	-moz-transition-duration:0.5s;
}

.rotator .rotator_centre a
{
	margin:5px;
}

#rotator_item_0
{
	transform-origin:left top;
}

#rotator_item_1
{
	transform-origin:right top;
}

#rotator_item_2
{
	transform-origin:left bottom;
}

#rotator_item_3
{
	transform-origin:right bottom;
}
